.phone {
    min-width: 347px;
    width: 347px;
    height: 526px;
    background-image: url('../../images/phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}