@font-face {
  font-family: "Axiforma";
  src: local("Axiforma"),
    url("../ui/fonts/Axiforma-Regular.woff") format("woff");
}

@font-face {
  font-family: "Axiforma-Bold";
  src: local("Axiforma-Bold"),
    url("../ui/fonts/Axiforma-Bold.woff") format("woff");
}
