@import "../../ui/typography.scss";
@import "../../ui/variables.scss";

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__link {
    @include typography_size-18;
    @include typography_color-secondary;
    border-bottom: 1px solid $ui_50_day;
  }

  .active {
    color: rgb(0, 32, 127);
    @include typography_weight-bold;
  }

  .card {
    box-shadow: none;
  }
}
