@import "../../ui/typography.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-litle {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/logo_litle.svg");
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__cards {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background: url("../../images/dots.svg") no-repeat center/contain;

    @media screen and (max-width: 1024px) {
      margin: 20px auto;
      background-repeat: repeat;
    }

    .tooltip-inner {
      background-color: #2195f3c2 !important;
    }
  }

  &__tooltip-text {
    @include typography_color-secondary;
    @include typography_size-32;
    @include typography_weight-bold;
  }
}
