@import "../../ui//typography.scss";

.header {
  height: 800px;

  @media screen and (max-width: 650px) {
    height: 200px;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/fon.jpeg");

    &_overlay {
      width: 100%;
      height: 100%;
      background: rgba(18, 61, 202, 0.2);
    }
  }

  &__main {
    padding: 100px 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 930px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      padding: 5px 15px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_right {
      flex-direction: row;
      position: relative;

      @media screen and (max-width: 930px) {
        margin-top: -40px;
      }

      @media screen and (max-width: 650px) {
        display: none;
      }
    }
  }

  &__phone {
    &_left {
      margin-right: -170px;

      @media screen and (max-width: 580px) {
        margin-right: -210px;
      }
    }
    &_center {
      margin-top: 83px;
      z-index: 3;
    }

    &_right {
      margin-top: 30px;
      margin-left: -170px;

      @media screen and (max-width: 580px) {
        margin-left: -210px;
      }
    }

    @media screen and (max-width: 1220px) {
      transform: scale(0.8);
    }

    @media screen and (max-width: 930px) {
      transform: scale(0.7);
    }

    @media screen and (max-width: 580px) {
      transform: scale(0.5);
    }
  }

  &__logo {
    width: 480px;
    height: 126px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/logo1.svg");
    margin-bottom: 30px;

    @media screen and (max-width: 1120px) {
      width: 360px;
      height: 94.5px;
    }

    @media screen and (max-width: 550px) {
      width: 240px;
      height: 63px;
    }
  }

  &__title {
    @media screen and (max-width: 1120px) {
      @include typography_size-70;
    }

    @media screen and (max-width: 1120px) {
      @include typography_size-48;
    }

    @media screen and (max-width: 630px) {
        @include typography_size-42;
      }
  }

  &__app {
    width: 170px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/appstore.svg");
    margin-top: 30px;

    @media screen and (max-width: 930px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 83%;
    }
  }
}
