@import "../../ui/typography.scss";
@import "../../ui/variables.scss";

.header {
  height: 800px;

  @media screen and (max-width: 650px) {
    height: 200px;
  }

  &__background {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__main {
    padding: 100px 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 930px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      padding: 5px 15px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_right {
      flex-direction: row;
      position: relative;

      @media screen and (max-width: 930px) {
        margin-top: -40px;
      }

      @media screen and (max-width: 650px) {
        display: none;
      }
    }
  }

  &__phone {
    &_left {
      margin-right: -170px;

      @media screen and (max-width: 580px) {
        margin-right: -210px;
      }
    }
    &_center {
      margin-top: 83px;
      z-index: 3;
    }

    &_right {
      margin-top: 30px;
      margin-left: -170px;

      @media screen and (max-width: 580px) {
        margin-left: -210px;
      }
    }

    @media screen and (max-width: 1220px) {
      transform: scale(0.8);
    }

    @media screen and (max-width: 930px) {
      transform: scale(0.7);
    }

    @media screen and (max-width: 580px) {
      transform: scale(0.5);
    }
  }

  &__logo {
    width: 180px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../images/logo.svg");
  }

  &__title {
    font-style: italic;
    @media screen and (max-width: 1120px) {
      @include typography_size-70;
    }

    @media screen and (max-width: 1024px) {
      @include typography_size-48;
    }

    @media screen and (max-width: 450px) {
      @include typography_size-42;
    }
  }

  &__app-text {
    @media screen and (max-width: 1024px) {
      @include typography_size-22;
    }
  }

  &__app {
    @media screen and (max-width: 930px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 83%;
    }
  }
}

.navbar-collapse {
  background-color: transparent;

  .nav-link {
    color: #0a3050 !important;
    @include typography_weight-bold;
  }
}

.blue {
  .navbar-collapse {
    background-color: #2195f38a;
  }

  .nav-link {
    color: white !important;
    @include typography_weight-bold;
  }
}
