@import "./reset.css";
@import "./ui/animation.scss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-css-only/css/bootstrap.min.css";
@import "mdbreact/dist/css/mdb.css";

.App {
  overflow: hidden;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 20px;
}
.header-title {
  padding-top: 60px;
}

.logo-google {
  width: 170px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/appstore.svg");
  margin-top: 30px;
}

.photo-screen {
  width: 194px;
  height: auto;
  position: absolute;
  top: 9px;
  left: 55px;
  border-radius: 28px;
}
